@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: Comic Sans MS, sans-serif;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  width: 100%;
  min-height: 150vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url(../img/backgrounds/main_background.png);
  background-size: 25%;
  animation: moveBack 150s linear infinite;
}

@keyframes moveBack {
  0% {
    background-position: 0px 0px;
  }

  100% {
    background-position: 1000px 1000px;
  }

}

.header {
  margin-bottom: 3.6rem;
  padding: 0px 25px;
  height: 75px;
  background-color: white;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;

  color: rgb(175, 45, 100);

  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.085);
}

.kof-logo {
  height: 125%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  transition: all 100ms linear;
}

.kof-logo:hover {
  height: 130%;
  cursor: pointer;
}


.cart-logo {
  height: 50%;

  transition: all 100ms linear;
}

.cart-logo:hover {
  height: 52%;
  cursor: pointer;
}

.kyky {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.kyky a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  color: rgb(175, 45, 100);
  text-decoration: none;

  transition: all 300ms linear;
}

.kyky a:hover {
  text-shadow: 0px 0px 5px rgba(175, 45, 100, 0.5);
  cursor: pointer;
}